*{
    margin: 0;
    padding: 0;
}
body{
  height: 100vh; 
  width:100%;
  margin: 10px;
    background: hsl(227, 75%, 14%);
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: 'Noto Sans', sans-serif;
}
.main{
    width:55%;
    height: 500px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
}
.star{
       width: 100%;
       background-color:hsl(226, 25%, 17%);
       display: flex;
       justify-content: space-evenly;
       gap:570px;
       padding-top: 5px;
       padding-bottom: 5px;
       border-radius: 15px;
       align-content: center;
       color:hsl(0, 0%, 93%);
}
.high{
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
}
.row{
     display: flex;
       justify-content: space-between;
       align-items: center;
       flex-direction: row;
      padding-top: 15px;
      padding-bottom: 15px;
       width: 100%;

}
.flex-container {
  display: flex;
  gap:10px;
  align-items: center;
  flex-wrap: wrap;         /* allow wrapping to next row */
  width: 100%;  
  justify-content: space-around;          /* adjust width to fit 3 boxes per row */
}
.box {
    
  flex: 0 0 calc(33.33% - 6.66px);  /* Subtract part of the gap */
  box-sizing: border-box; /* include padding in size */
  padding: 20px;
  color:white;
  border: 1px solid #333;
  background-color: hsl(226, 25%, 17%) ;
  text-align: center;
  flex-direction: column;
  height: 140px;          
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 16px;
}
.small{
    display:flex;
    gap:8px;
}
.list{
  display:flex;
  flex-direction: column;
  
}
.img{
   width:90px;
    height: auto;
    color: white;
}
.give{
  background-color: hsl(225, 23%, 24%);
  width: 25px;
  padding: 5px;
  border-radius: 10px;
}

.p-1{
    font-size: 25px;
    font-weight: 700;
    color:hsl(0, 0%, 93%);
    align-self: flex-start;
}
.p-2{
  color:hsl(0, 0%, 93%);
  font-size: 10px;
  text-align: left;
}

.a-1{
      width: 70px;
    height: 25px;
      font-weight: 500;
    border-radius: 120px;
    border:none;
    align-self: flex-end;
    background-color:hsl(226, 25%, 17%) ;
     color:hsl(0, 0%, 93%);
}
.a-2{
  width: 80px;
    height: 25px;
      font-weight: 500;
    border-radius: 120px;
    border:none;
    align-self: flex-end;
    background-color:hsl(3, 77%, 44%) ;
     color:hsl(0, 0%, 93%);
}
.a-3{
  width: 90px;
    height: 25px;
      font-weight: 500;
    border-radius: 120px;
    border:none;
    align-self: flex-end;
    background-color:hsl(226, 25%, 17%) ;
     color:hsl(0, 0%, 93%);
}
.gap{
    width:40px;
    height: auto;
}
.h-1{
    align-self: flex-start;
    font-size: 20px;

}
.r-1{
    width:80px;
    align-items: flex-end;
    border-color:hsl(226, 11%, 37%);
    background-color: hsl(226, 25%, 17%);
    color:white;
    border-radius: 16px;
    padding: 5px;
}